#home-page {
  // h1 {
  //   color: $darker;
  // }
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    margin-top: 75px;
    color: $darker;
    text-decoration: underline;
  }

  svg, img {
    width: 2em;
    height: 2em;
    display: flex;
    fill: $background;
    color: $background;
  }

  .home-r-card {
    margin: 10px;
    padding: 10px;
    /* border: 2px solid $darker*/
    border-radius: 4px;
    color: $background;
    background-color: $darker;
    font-weight: 600;
  }

  .home-display-r-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .home-display-f-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // width: 75%;
    // margin-left: auto;
    // margin-right: auto;
  }

  .home-f-block, .home-f-name, .home-f-icone {
    // color: red
    // width: 50%;
    background-color: $dark;
    margin: 2px;
    padding: 0.5em;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $background;
    font-weight: 600;
    
  }

  .home-f-name {
    width: 65px;
    font-size: 0.9em;
  }
  .home-f-block {
    min-width: 50px;
    max-width: 70px;
  }
  .home-f-icone {
    width: 20px;
    padding: 7px;
  }

  .home-f-line {
    display: flex;
    justify-content: center;
    // width: 75%;
  }
}