<%= simple_form_for @recipient do |f| %>
  <div class="form-r">
    <%= f.input :name, label: 'NOM', class: "" %>
    <%= f.input :description, label: 'DESCRIPTION', class: "" %>
    <%= f.button :submit, "VALIDER", class: "" %>
  </div>
<% end %>