<h1> INDEX DESTINATAIRES</h1>

<div>
  <%= link_to "nouvelle facture", new_facture_path, class: 'btn btn-primary' %>
  <%= link_to "nouveau destinataire", new_recipient_path, class: 'btn btn-primary' %>
</div>

<ul>
  <% @recipients.each do |recipient| %>
    <li>_______________</li>
    <li><%= link_to recipient.name, recipient_path(recipient) %></li>
    <li><%= link_to recipient.description, recipient_path(recipient) %></li>
    <li>_______________</li>
  <% end %>
</ul>