<div id="index-r-page">
  <h1>VOS BÉNÉFICIAIRES</h1>

  <ul>
    <% @recipients.each do |recipient| %>
      <div  class="index-r-cards">
        <li><%= link_to recipient.name, recipient_path(recipient), class: "r-name" %></li>
        <li><%= link_to recipient.description, recipient_path(recipient), class: "r-desc" %></li>
      </div>
    <% end %>
  </ul>
</div>