#index-r-page {
  h1 {
    color: $darker;
    text-decoration: underline;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  h2 {
    color: $darker
  }
  
  ul {
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .index-r-cards {
    // border: 2px;
    margin: 10px 20px;
    // border: 3px solid $dark;
    border-radius: 4px;
    padding: 10px 10px;
    background-color: $dark;

  }

  .r-name {
    font-weight: bold;
    color: $background;
  }

  .r-desc {
    color: $darker;
  }

}
