@import "config/fonts";
@import "config/colors";

@import "factures/index";
@import "factures/edit";
@import "factures/form";

@import "recipients/index";
@import "recipients/form";

@import "pages/footer";
@import "pages/home";

@import "flatpickr/dist/flatpickr";
@import "flatpickr/dist/themes/airbnb";

// @import "config/colors";

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: $background;
  width: 100%;
  height: 100%;
  background-size: cover;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  // cursor: pointer;
}

ul, ol {
  list-style: none;
}

